# Homework 1 (17th April 2020)


### Problem 1

- (A) In both cases, Python produces a "SyntaxError" message, so an issue in the syntax of the code. When missing both parantheses or the first one, Python recognizes the parantheses are missing and suggests a solution, returning the error message "Missing parentheses in call to 'print'. Did you mean print("Hello, world")?" In the case of missing a parantheses at the end of the code, it also recognizes a "SyntaxError", however, in this case the error is that the function ends unexpectedly and as a result no suggestion is given:  "unexpected EOF while parsing".

- (B) When you leave out the first or both of the quotation marks, Python thinks the input in the brackets refers to variables, in this case, named Hello and world. As these are undefined, it returns a NameError telling us the name is not defined. If the input contains values that cannot be contained in a variable name, Python will return a SyntaxError, as it considers the input a set of variables that cannot contain these values. Lastly, if only the second quotation mark is left out, Python knows the input is meant to be a string and thus returns a SyntaxError, adding that the error was the line ending while scanning the string literal.

- (C) The addition of - or + signs follows the rules of mathematics, i.e. an even number of - operators is converted to one positive and thus addition, an odd number of - operators is converted to one negative and thus subtraction, and any amount of + operators remains positive and ends in addition. As a result, 3 - - 2 for example has two negatives and thus becomes 3 + 2 = 5. Furthermore, spaces make no difference. Lastly, adding multiplication or division in between two +/- operators creates a SyntaxError, as this would be incorrect mathematical notation.

- (D)  Python throws a SyntaxError. Leading zeros are only allowed in decimal numbers in the version Python3. In previous versions of python, leading zeros were allowed for integers too, however the first 0 acted as an indicator that the following number should be evluated in the octal numeral system, meaning for example 0015 would return 13.

- (E) Python throws a SyntaxError, as it cannot interpret two numbers with no connection to each other that are not part of any function or bigger entity. It does not expect one number to be followed by another but rather some type of connector between them, an operator. As a result, another number is invalid syntactically.

In [12]:
3 2

SyntaxError: invalid syntax (<ipython-input-12-26a4654c9884>, line 1)

### Problem 2

In [1]:
#(A)

seconds = 42*60 + 42
print(seconds)
print("There are " + str(seconds) + " seconds in 42 minutes and 42 seconds.")

2562
There are 2562 seconds in 42 minutes and 42 seconds.

In [2]:
#(B)

m_in_10k = 10/1.61
print(m_in_10k)
print("There are " + str(m_in_10k) + " miles in 10 kilometers.")

6.211180124223602
There are 6.211180124223602 miles in 10 kilometers.

In [3]:
#(C)

miletime_s = round(seconds/m_in_10k)
miletime_m_val = miletime_s // 60 
miletime_s_val = miletime_s % 60


print("My average 1-mile pace is " + str(miletime_m_val) + " minutes and " + str(miletime_s_val) + " seconds.")

My average 1-mile pace is 6 minutes and 52 seconds.

### Problem 3

- (A)  The code `42 = n` is not legal. It will throw a "SyntaxError: can't assign to literal". (see below)

In [4]:
42 = n

SyntaxError: can't assign to literal (<ipython-input-4-f0c37ed646fc>, line 1)

- (B) `x = y = 1` is  a legal statement. It assigns x and y the value 1.

In [10]:
x = y = 1

- (C) In Python the semi-colon appears to mark the end of a statement. It allows you to add another separate command in the same line. As a result, when you add a semi-colon, python anticipates another separate command in the same line. Therefore, there is no "Out" when no command follows after the first one.

In [22]:
print(5+6); 10+10;

11

- (D) This depends on the statement. If it follows an integer, the integer will simply be considered a float. However, in general it will cause a "SyntaxError: invalid syntax".

In [25]:
n = 42.

In [27]:
print(56).

SyntaxError: invalid syntax (<ipython-input-27-c982353236ac>, line 1)

- (E) The difference between the two lines is the way n will be stored. The number followed by a period causes the value to be interpreted and stored as a float, whereas the number without a period is considered and stored as an integer by Python.

In [118]:
print(type(42.))

<class 'float'>

In [117]:
print(type(42))

<class 'int'>

### Problem 4

In [42]:
# (A)
import numpy as np
def sphere_volume(r):
    volume = (4/3)*np.pi*(r**3)
    return volume

In [43]:
print("The volume of a sphere with radius 5 is " + str(sphere_volume(5)))

The volume of a sphere with radius 5 is 523.5987755982989

In [44]:
print("The volume of a sphere with radius 15 is " + str(sphere_volume(15)))

The volume of a sphere with radius 15 is 14137.166941154068

In [71]:
#(B)
def wholesale_cost(books):
    cover_price = (0.6*24.95)*books
    shipping = 3 + 0.75*(books-1)
    totalcost = round(cover_price + shipping,2)
    return totalcost

In [90]:
print(wholesale_cost(60))
print("The total wholesale cost for 60 copies will be $" + str(wholesale_cost(60)) + ".")

945.45
The total wholesale cost for 60 copies will be $945.45.

In [91]:
print(wholesale_cost(10))
print("The total wholesale cost for 10 copies will be $" + str(wholesale_cost(10)) + ".")

159.45
The total wholesale cost for 10 copies will be $159.45.

In [85]:
#(C)
def run_time(miles, warm_pace, fast_pace):
    if(type(warm_pace) == str):
        minsec_wp = warm_pace.split(":")
        warm_pace = int(minsec_wp[0])*60 + int(minsec_wp[1])
    
    if(type(fast_pace) == str):
        minsec_fp = fast_pace.split(":")
        fast_pace = int(minsec_fp[0])*60 + int(minsec_fp[1])
        
        
    warm_time = warm_pace*2
    fast_time = fast_pace*(miles-2)
    runtime = warm_time + fast_time
    minutes = runtime // 60
    seconds = runtime % 60
    print(str(minutes) + ":" + str(seconds)) 
    return minutes, seconds

In [119]:
print(run_time(5,495,432))

38:6
(38, 6)

In [120]:
print(run_time(5,"8:15","7:12"))

38:6
(38, 6)

### Problem 5

In [7]:
import math as m

def polar(real, imaginary):
    r = m.sqrt(real**2 + imaginary**2)
    theta = m.degrees(m.atan2(imaginary,real))
    
    return r, theta

In [8]:
print(polar(-2,-3))

(3.605551275463989, -123.69006752597979)

In [9]:
print(polar(1,+1))

(1.4142135623730951, 45.0)

In [11]:
print(polar(4,2))

(4.47213595499958, 26.56505117707799)